
div.list{
    margin:50px 20px;
    box-shadow: 0 4px 8px 0 lightpink, 0 6px 20px 0 rgba(0, 0,0,0.19);
    float: left;
    width: 290px 200px 200px;
}

img {

  height: 250px;
  
  width: 250px;
  
  object-fit: cover;
  
  }
